.attractions-container {
	display: flex;
	flex-direction: column;
  text-align: center;
	justify-content: center;
	justify-items: center;
	align-items: center;
	align-content: center;
}

.attractions-container img {
	max-width: 100%;
  height: 50px;
	margin-bottom: 35px;
	margin-top: 5px;
}
